# Python local environment
venv/

# Python bytecode files
*.pyc

# Local database file
db.sqlite3

# Local vscode settings
.vscode/

# Pytest files
.pytest_cache/

# Ignore migration files for bigpyapp as the MongoDB server does not need it
migrations/